html,body{
  /*background-color: #fff;*/
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Helvetica-neue',Arial,sans-serif; 
  height:100vh;
  cursor : default;

}
canvas{
  /*cursor : default;*/
  position: fixed;
  top: 0; 
  z-index: -1;
}
.stilo{

}
.betu_f{
  	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}
.artist{
	font-size: 24px;
	/*padding-right: 30vw;*/
	/*position: relative;*/
	/*margin-top:24px;*/
	top:3vh;
	cursor:none;
  	font-family: Futura,Trebuchet MS,Arial,sans-serif; 

}
.Imago{
	/*display: none;*/
	width:25vw;
	bottom:45vh;
	padding-top: 7vh;
	padding-right: 2vw;
	padding-left: 2vw;
}
.projects{
	font-size: 24px;
	width:20vw;
	cursor:none;
  	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}
.elem{
	cursor:pointer;

}
.elem:hover{
	/*color:blue;*/
	color:white;

	text-shadow: 2px 2px 5px black;
}
td:hover{
	/*color:blue;*/
	color:grey;

	text-shadow: 2px 2px 5px black;
}
img{
/*	width:20vw;
	bottom:55vh;
	padding-top: 5vh;
	padding-right: 5vw;
	padding-left: 5vw;*/
}
.lk{

	width:25vw;
	bottom:45vh;
	padding-top: 7vh;
	padding-right: 2vw;
	padding-left: 2vw;

}
.projectkep{
	width:20vw;

	bottom:45vh;
	padding-top: 7vh;
	padding-right: 2vw;
	padding-left: 2vw;
}
/*.jv{

	width:20vw;

	bottom:45vh;
	padding-top: 7vh;
	padding-right: 2vw;
	padding-left: 2vw;

}
.bt{

	width:20vw;

	bottom:45vh;
	padding-top: 7vh;
	padding-right: 2vw;
	padding-left: 2vw;

}
.nonpp{


	width:20vw;

	bottom:45vh;
	padding-top: 7vh;
	padding-right: 2vw;
	padding-left: 2vw;

}
.bvn{

	width:20vw;

	bottom:45vh;
	padding-top: 7vh;
	padding-right: 2vw;
	padding-left: 2vw;

}*/
.adam{
	/*height:30vw;*/
	width:25vw;

	bottom:45vh;
	padding-top: 7vh;
	padding-right: 2vw;
	padding-left: 2vw;	
}
.pl{
	/*width:23vw;*/
	width:25vw;

	bottom:45vh;
	padding-top: 7vh;
	padding-right: 2vw;
	padding-left: 2vw;	

}
.bv{
	/*width:23vw;*/
	width:25vw;

	bottom:45vh;
	padding-top: 7vh;
	padding-right: 2vw;
	padding-left: 2vw;	

}
.elem{
	font-size: 16px;
	/*padding-left: 1vw;*/
}
table{
	width:95vw;
	cursor: pointer;
}
tr{
	/*position: absolute;*/
}
.row{
  /*float:right;*/
  margin:0;
  top:5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}
.column{
  display: inline-flex;
  flex-direction: column;
  flex-basis: 70vh;
  /*width: 30vw;*/
  flex: 5;
  /*width:25vw;*/
  z-index: 0;
}

.szalag{
	position: absolute;
	bottom: 0;
	/*text-align: center;*/
	/*height: 2vh;*/
	font-size: 18px;
	z-index: 2;

}
.szalag-posi{
	/*position: relative;*/
	margin:0;
	padding-left:5vw;
	padding-bottom:1vh;
	display:inline-flex;
}
#partners:hover{
	transform: rotateX(150deg);
	color: blue;
	cursor:pointer;


}
a:visited{
	color:grey;
}
a:link{
	color:blue;
}
a:active{
	color:red;
}
.part{
	margin:0;
	padding-left:5vw;
	padding-bottom:1vh;
	display:inline-flex;
}
.ev{
	font-weight: 500;
	/*color:blue;*/
    text-shadow:  5px 5px 5px grey;
  	font-family: Futura,Trebuchet MS,Arial,sans-serif; 

	padding-right: 1vw; 
}
.havi-kiemelt{
	left:0;

	padding-left:15vw; 
	top:0;
	padding-top: 20vh;
	position: absolute;

}
.kiemelt-kep{
	width:40vw;
}
.kiemelt-kep:hover{
	width:50vw;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.40);
    text-align: center;
}
.havi-betu{
	font-size: 15px;
	font-weight: 400;
	font-variant: small-caps;
}
#ab{
	transition: transform 2s;
	/*position: sticky;*/
}
#ab:hover{
	/*animation-name: nagyul;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;*/
  	transform:scale(2);
  
  	letter-spacing: 10px;
  	color: red;

}
#aboutt{
	font-size: 14px;
	overflow: auto;
	padding-left: 5vw;
	padding-right: 5vw;
	word-wrap: auto;
	letter-spacing: 1px;
	text-align: justify;
	text-justify: inter-word;
	/*word-wrap: */
}
#conti{
	transition: transform 2s;

}
#conti:hover{
	transform:scale(2);
  
  	letter-spacing: 10px;
  	color: blue;
}
#contii{
	font-size: 14px;
	overflow: auto;
	padding-left: 5vw;
	padding-right: 5vw;
	word-wrap: auto;
	letter-spacing: 1px;
	text-align: justify;
	text-justify: inter-word;
	/*word-wrap: */
}
#press{
	transition: transform 2s;

}
#press:hover{
	transform: rotate(-90deg);
  
  	letter-spacing: 10px;
  	color: red;
}
#presspress{
	font-size: 14px;
	overflow: auto;
	padding-left: 5vw;
	padding-right: 5vw;
	word-wrap: auto;
	letter-spacing: 1px;
	text-align: justify;
	text-justify: inter-word;
	/*word-wrap: */
}

.nevek{
	font-size: 16px;
}
#nevjegy{
	font-size: 16px;
}
.vork{
  text-shadow:  2px 2px 5px blue;
  animation-name: pirul;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}
.listt{
	/*text-decoration: none;*/
	list-style-type:none;
	font-size: 14px;
	padding-left: 5px; 
}
#pressi{
	color: black;
	position: absolute;
	z-index: -3;
	left: 10px;
}
@keyframes pirul {
  from { text-shadow:  2px 2px 5px blue;}
  to {text-shadow:  2px 2px 5px red;;}
}

@keyframes nagyul {
  /*from {transform:scaleZ(0);}*/
  	/*transform:scaleZ(20);*/
}

.vesc{
	font-size: 14px;
}
#scene{
	font-size: 14px;

}
#tunde-lev{
	font-size: 14px;
}
#rug{
	font-size: 14px;
}
#veto{
	font-size: 14px;
}
#nonprof{
	font-size: 14px;
}
#balazsnick{
	font-size: 14px;
}
.tizennegy{
	font-size: 14px;
}

.mobilkep{
	display: none;
}
.dev {
  /*position: relative;*/
  bottom:0.5vh;
  right:1vw;
  color:blue;
  /*left: vw;*/
  font-size: 12px;
  position: absolute;
  /*padding-top: 2vh;*/
  /*z-index: -5;*/
}
.dev:hover{
  color:white;
}
@media only screen and (max-width: 600px) {
    body{
      width:100vw;
      /*height:90vh;*/
      overflow: auto;
    }
    .szalag{
		/*position: sticky;*/
		position: relative;

		border-bottom-left-radius: 2vw;
		/*overflow: auto;*/
		/*text-align: center;*/
		/*height: 2vh;*/
		top:0;
		padding-left:1vw;
		/*left:2vw;*/
		font-size: 12px;
		z-index: 2;
		color:blue;
	}
	.szalag-posi{
		/*width: auto;*/
		/*position: relative;*/
		margin:0;
		/*padding-bottom:0;*/
		/*padding-right: 0;*/
		padding-top:1vh;
		display:inline-flex;
	}
/*   .szalag{

	left: 0;
	top:0;
	
	color:blue;
	font-size: 12px;
	z-index: 2;

	}
	.szalag-posi{
	
		margin:0;
		padding-left:1vw;
		padding-top:1vh;
		display:block;
	}*/
	#aboutt{
		font-size: 10px;
	}
	#ab{
		transition: transform 2s;
		/*position: sticky;*/
		/*color:black;*/
	}
	#ab:hover{
	  	transform:scale(1);
	  	left:1vw;
	  	color: red;

	}
	#nevjegy{
		font-size: 10px;
	}
	.nevek{
		font-size: 10px;
	}
	#listtom{
		font-size: 8px;
	}
	#listlau{
		font-size: 8px;
	}
	.tizennegy{
		font-size: 10px;
	}

	#conti{
	transition: transform 2s;

	}
	#conti:hover{
		transform:scale(1.1);
	  
	  	letter-spacing: 1px;
	  	color: blue;
	}
	#contii{
		font-size: 8px;
		overflow: auto;
		padding-left: 5vw;
		padding-right: 5vw;
		word-wrap: auto;
		letter-spacing: 1px;
		text-align: justify;
		text-justify: inter-word;
		/*word-wrap: */
	}
	#presspress{
	font-size: 8px;
	overflow: auto;
	padding-left: 5vw;
	padding-right: 5vw;
	word-wrap: auto;
	letter-spacing: 1px;
	text-align: justify;
	text-justify: inter-word;
	/*word-wrap: */
	}
	.row2{
	  /*float:right;*/
	  margin:0;
	  top:1vh;
	  display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  width: auto;
	}
	.column2{
	  display: inline-flex;
	  flex-direction: column;
	  /*flex-basis: 70vh;*/
	  /*flex: 5;*/
	  /*width:25vw;*/
	  z-index: 0;
	}
	#pressi{
		display: none;
	}
	.row{
	  /*float:right;*/
	  /*margin:auto;*/
	  top:1vh;
	  display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  /*width: 90vw;*/
	}
	.column{
	  display: inline-flex;
	  flex-direction: column;
	  flex-basis: 10vh;
	  flex: 2;
	  /*width:25vw;*/
	  z-index: 1;
	  width: 90vw; 	
	  margin: auto;
	}
	.rejt{
		display: none;
	}
	.elem{
	  /*cursor:pointer;*/
	  /*left: 40vw;*/
	  /*left:;*/
	/*  margin: auto;
	  width: auto;
*/	}
	.ev{
      margin-left: 1vw;			
	}
	.artist{
 	  margin: auto;
	  width: auto;
	}
	.projects{
      margin: auto;
	  width: auto;
	}
/*	.minden_project{
		display: hide;
	}
	.minden_project{

	}*/
	.mobilkep{
	  display: block;
	  width: 50vw;

	}
	.page-wrap{
	}
	.dev {
	  /*position: relative;*/
	  bottom:0.1vh;
	  right:1vw;
	  color:blue;
	  /*left: vw;*/
	  font-size: 8px;
	  position: absolute;
	  /*padding-bottom:0.1vh;*/
	  /*z-index: -5;*/
	}
    }